* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 425px;
  font-family: sans-serif;
  background-color: #2a2a2a;
  color: #fff;
}

.container {
  max-width: 425px;
  padding: 0 16px;
  margin: 0 auto;
}

.owl-stage {
  transition: ease-in-out 600ms;
}

.header {
  background-color: rgba(42, 42, 42, 0.9);
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  padding: 8px 0;
  position: -webkit-sticky;
  top: 0;
  position: sticky;
  z-index: 10;
}

.header--inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo--link {
  display: flex;
  width: 130px;
  margin-right: 16px;
}

.logo--link > svg {
  width: 130px;
}

.menu--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  outline: none;
  background-color: initial;
}

.menu--btn > svg {
  width: 18px;
}

.owl-box {
  max-width: 425px;
  max-height: 120.69px;
  object-fit: cover;
}

.hero-img {
  max-width: 425px;
  max-height: 120.69px;
  object-fit: cover;
}

.date {
  padding: 16px 0 8px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.date--inner {
  display: flex;
  align-items: center;
}

.date--title {
  position: relative;
  margin-right: 16px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  letter-spacing: 1px;
  padding-bottom: 8px;
}

.date--title.active {
  color: #fff;
}

.date--title.active::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #bd257f;
  transform: translateX(-50%) scale(1);
}

.catalog--inner {
  display: grid;
  gap: 16px 8px;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 24px;
  padding-top: 16px;
}

.catalog--box {
  max-width: 192.5px;
  height: 230px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* background-image: url(deadpool.png); */

  background-position: top;
  background-size: cover;
  border-radius: 8px;
  position: relative;
}

.film--online {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #19abe4;
  line-height: 12px;
  padding: 3px 4px;
  max-width: 96px;
  font-size: 10px;
  color: #ebebeb;
  border-radius: 4px;
}

.film--pushcard {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #24ba00;
  line-height: 12px;
  padding: 3px 4px;
  max-width: 96px;
  font-size: 10px;
  color: #ebebeb;
  border-radius: 4px;
}

.film--age {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  width: 32px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 4px;
}

.film--link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.box--info {
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgba(189, 37, 127, 0.9);
  height: 83px;
  border-radius: 0 0 8px 8px;
  /* display: flex; */
}

.film--name {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 4px 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 15px;
  word-break: break-word;
}

.film--gener {
  text-align: center;
  max-width: 192.5px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 13px;
}


.footer{
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 24px 0;
}

.footer--inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer--head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer--media {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 8px;
}

.media--link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 8px;
}

.footer--info {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.footer--info--box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info--box--title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.info--box--link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.app {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 24px 0 14px 0;
}

.app--inner {
  display: flex;
  flex-direction: column;
}

.app--title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

.app--info {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}

.apps {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

.footer--main {
  padding: 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer--main--inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer--main--info {
  margin: 12px 0;
  color: rgb(136, 136, 136);
  font-size: 12px;
  line-height: 18px;
}

.footer--main--link {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}